.container {
  display: flex;
  height: 300px;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  overflow: hidden;
  position: relative;
  height: 320px;
  width: 100%;

  border-radius: 6px;
  background-color: white;
  box-shadow: -1rem 0 3rem rgba(0, 0, 0, 0.1);

  transition: 0.4s ease-in;

  .cardImage {
    display: flex;
    align-self: flex-start;

    margin: 20px;
    transition: 0.4s ease-in;
  }

  .cardTexts {
    margin-bottom: 20px;
  }

  .cardTitle {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;

    transition: 0.2s linear;
  }
  .cardDescription {
    width: 400px;

    font-family: "Inter", sans-serif;
    font-size: 0px;
    font-weight: 400;
    text-align: justify;
    transition: 0.1s linear;
  }

  &:hover {
    width: 5000px;
    z-index: 1;
    filter: unset;

    .cardImage {
      margin: 0px;
    }

    .cardTitle {
      font-size: 24px;
    }
    .cardDescription {
      font-size: 16px;
    }
  }
}
