.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: auto;
  height: auto;
}

/* navbar */

.navbar {
  position: sticky;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 120%;
  height: auto;
  padding-inline: 10%;

  background: var(--primary-background);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.navbarLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: auto;
  height: auto;
}
.navbarActions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: auto;
  height: auto;

  gap: 48px;
}

.navbarBrand {
  position: relative;
  margin-top: 0px;
  width: 64px;
  height: 64px;
  transition: 0.5s;
}
.navbarBrand:hover {
  margin-top: 100px;
  scale: 3;
  transform: rotate(-9deg);
}

.navbarText {
  font-size: 24px;
  font-weight: 500;
  color: var(--primary-4);
  transition: 0.5s;
}
.navbarText:hover {
  color: var(--primary-5);
  scale: 1.2;
  margin: 12px;
}
.navbarTextActive {
  font-size: 24px;
  font-weight: 500;
  color: var(--primary-4);
  transition: 0.5s;
  border-bottom: 2px solid var(--primary-4);
}

.navbarIcon {
  width: 24px;
  height: 24px;

  transition: 0.3s;
  color: var(--secondary-2);
}
.navbarIcon:hover {
  scale: 1.5;
}

/* content */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

@media screen and (max-width: 991px) {
  .navbarBrand {
    width: 48px;
    height: 48px;
  }
  .navbarBrand:hover {
    margin-top: 24px;
    scale: 2;
  }
}
